body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h2 {
    text-align: center;
    color: #333;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h3 {
    color: #444;
    border-bottom: 2px solid #f0f8ff;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

input[type="text"],
input[type="date"],
input[type="time"],
input[type="submit"],
button {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 5px;
}

input[type="submit"],
button {
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover,
button:hover {
    background-color: #45a049;
}

button {
    background-color: #f44336;
    margin-right: 5px;
}

button[type="button"]:nth-child(2) {
    background-color: #555;
}

em {
    font-size: 0.9em;
    color: #888;
}

small {
    display: block;
    color: #888;
    margin-top: -10px;
    margin-bottom: 10px;
}
