/* Import font dari Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-size: 35px;
}

body {
  background-image: url("images/bg.jpg");
  background-repeat: no-repeat;
  background-size: 100cqmax;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

h2 {
  text-align: center;
  margin-bottom: 3px;
  color: #333;
}

p {
  background-color: #fff;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  color: #666;
  font-size: 20px;
}

p:first-child {
  margin-top: 20px;
}

p:last-child {
  margin-bottom: 30px;
}

p strong {
  color: #333;
  font-weight: 600;
}
button {
background-color: #ddd;
color: #333;
padding: 10px 20px;
border: none;
border-radius: 5px;
cursor: pointer;
font-size: 16px;
margin-top: 15px;
transition: background-color 0.3s ease;
}

button:hover {
background-color: #ccc;  
}